<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MPYNL 博客</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/clean-blog.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
  {% include 'includes/_navbar.html' %}
  {% include 'includes/_messages.html' %}
  {% block body %}{% endblock %}
  {% include 'includes/_footer.html' %}
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.js') }}" rel="script"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}" rel="script"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}" rel="script"></script>
</body>
</html>